<h1> Report a bug </h1>
<%= form_for(:bug, url:send_bug_path) do |f| %>
  <p>
  <h3>
    <%= f.label :title %>
  </h3>
  <%= f.text_field :title, :required => true %>
  </p>
  <p>
  <h3>
    <%= f.label :description %>
  </h3>
  <%= f.text_area :description, :required => true %>
  </p>
  <p>
  <h3>
    <%= f.label :assignement %>
  </h3>
  </p>
  <p>
  <%= f.select :assigned_to, options_from_collection_for_select(@users, "id", "username") %>
  </p>
  <%= f.submit "create bug" %>
<% end %>

